{% load component_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&#38;display=swap" rel="stylesheet">
</head>

<body>

    {% component "navbar" %}
    <main id="main-content" class="min-h-[60vh]">
        <section class="section text-left" style="padding-left:3%">
            <br />
            <h2 class="mb-1 "> Interview Experience Form...</h2><br />
            <div class="container">
                <div class="card " style="padding-left:15% ;padding-top:2%">
                    <form style="width: 26rem;" method="post" action="{%url 'addexperience' %}">
                        {% csrf_token %}
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form4Example1">Title</label>
                            <input type="text" id="tte" class="form-control" name="tte" />
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form4Example2">Role</label>
                            <select name="role" id="role">
                                <option value="Internship">Internship</option>
                                <option value="FTE">FTE</option>
                              </select>
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form4Example">Organisation</label>
                            <input type="text" id="org" class="form-control" name="org" />
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="form4Example2">Date</label>
                            <input type="date" id="date" class="form-control" name="date" />
                        </div>

                        <div data-mdb-input-init class="form-outline mb-4" style="width:55rem;">
                            <label class="form-label" for="form4Example3">Details</label>
                            <textarea class="form-control" id="details" rows="6" cols="10" name="details"></textarea>
                        </div>


                        <!-- Submit button -->

                        <button id="submit" type="submit" data-mdb-ripple-init type="button"
                            class="btn btn-primary btn-block mb-4">Send</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>

</html>