<!DOCTYPE html>
{% load component_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% component "navbar" %}
    <div class="container justify-content-center text-center">
    <h1 class="title" style="margin-left:-7px;     color: rgb(249, 92, 57);">RECursion</h1>
    <h5 class="subtitle" style="color:#528CDD;">Programming Community of NIT Durgapur</h5>
    <p class="col-sm-12  pl-0 text-center">We are programming community of NIT Durgapur, with focus on improving coding
        culture institute wide by conducting regular lectures from beginner to advance topics of programming. Our goal
        is to increase student's participation in inter-collegiate
        contest like ACM-ICPC and help them get better.</p><br>
   
    </div>
    
</body>

</html>